/* Thin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap; /* Or block, fallback, optional */
  src: url("./fonts/JetBrainsMono-Thin.woff2") format('woff2');
}

/* Thin Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-ThinItalic.woff2") format('woff2');
}

/* Extra Light */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-ExtraLight.woff2") format('woff2');
}

/* Extra Light Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-ExtraLightItalic.woff2") format('woff2');
}

/* Light */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Light.woff2") format('woff2');
}

/* Light Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-LightItalic.woff2") format('woff2');
}

/* Regular (Normal) */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400; /* or 'normal' */
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format('woff2');
}

/* Regular Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400; /* or 'normal' */
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Italic.woff2") format('woff2');
}

/* Medium */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Medium.woff2") format('woff2');
}

/* Medium Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-MediumItalic.woff2") format('woff2');
}

/* Semi Bold */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-SemiBold.woff2") format('woff2');
}

/* Semi Bold Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-SemiBoldItalic.woff2") format('woff2');
}

/* Bold */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700; /* or 'bold' */
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format('woff2');
}

/* Bold Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700; /* or 'bold' */
  font-display: swap;
  src: url("./fonts/JetBrainsMono-BoldItalic.woff2") format('woff2');
}

/* Extra Bold */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-ExtraBold.woff2") format('woff2');
}

/* Extra Bold Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-ExtraBoldItalic.woff2") format('woff2');
}

/* -------------------- */
body {
  font-family: "JetBrains Mono", Monaco, Consolas, "Ubuntu Mono", monospace;
}

code,
kbd {
  font-family:
    "JetBrains Mono",
    Monaco,
    Consolas,
    "Ubuntu Mono",
    monospace !important;
  font-feature-settings: normal;
}

